name: Kronos Notifier

on:
  schedule:
    # هر 15 دقیقه یک‌بار
    - cron: "*/15 * * * *"
  workflow_dispatch: {}

jobs:
  run-kronos-notifier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
        pip install -r requirements.txt
      - name: Run Kronos notifier
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: |
          python kronos_notifier.py
